body {
	background-color: rgb(43, 48, 53);
	color: #EEEEEE;
	font-size: 28px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial
}

h1 {
	color: #FDFDFD
}

p {
	color: #BBBBBB
}

li {
	color: #FDFDFD
}

li::marker {
	color: #BBBBBB
}

button {
	padding-left: 125px;
	padding-right: 125px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	border-color: rgba(0, 0, 0, 0);
	color: #FDFDFD;
	font-size: 28px;
	background-color: #3B83BD
}

button:hover {
	background-color: #216B9D;
	transition: background-color 0.3s ease;
}

button:active {
	transform: scale(0.9);
	transition: transform 0.3s ease;
}

section {
	width: 90%;
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}

.all {
	white-space: nowrap;
	margin-bottom: 50px
}

.name {
	white-space: normal;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.all .name:first-child {
	margin-right: 20%;
}

ol.left {
	margin-left: 41%
}

li {
	text-align: justify;
}


@font-face {
	font-family: Arial;
	src: url(../fonts/Arial/arialmt.ttf)
}


@media (max-width:600px) {
	body {
		font-size: 28px;
		margin: 0;
		padding: 0;
		text-align: center;
		font-family: Arial
	}

	h1 {
		color: #FDFDFD
	}

	p {
		color: #BBBBBB
	}

	li {
		color: #FDFDFD
	}

	li::marker {
		color: #BBBBBB
	}

	button {
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 10px;
		border-color: rgba(0, 0, 0, 0);
		color: #FDFDFD;
		font-size: 28px;
		background-color: #3B83BD
	}

	section {
		width: 90%;
		max-width: 1180px;
		margin-left: auto;
		margin-right: auto;
	}

	.all {
		white-space: nowrap;
		margin-bottom: 50px;
		margin-right: 25%;
		padding-bottom: 85px;
	}

	.name {
		white-space: normal;
		display: inline-block;
		width: 40%;
		vertical-align: top;
		margin-right: 20%;
	}


	li {
		text-align: justify;
	}

	br {
		display: none;
	}

	@font-face {
		font-family: Arial;
		src: url(../fonts/Arial/arialmt.ttf)
	}
}